.banner{
	color:white;
	background-image: url('https://www.clipartsgram.com/image/2110973006-nature-close-up-path-alley-grass-green-meadow-fence-fencing-fence-stones-blur-background-wallpaper-widescreen-full-screen-widescreen-hd-wallpapers-background-wallpaper-widescreen-fullscreen-widescreen.jpg');

	background-size: 100% 200%;
	background-repeat:no-repeat;
	border-radius:30px;
	opacity:1.0	;
	
}

